
{% extends "base.html" %}

{% block app_content %}
<style>
th {text-align: left;}
</style>
<body>
   
    <h1>Items With Classifications</h1>
    <table id="myTable" style="width:80%" >

    <tr>

          <th><b>Classification Code</b></th>
          <th><b>Classification Name</b></th>
          <th><b>Object Name</b></th>
          <th><b>Object Description</b></th>
          
        </tr>

    {% for data in classification.json %}
        <tbody id="tbody">
        <tr>
          <td>{{ data[0] }}</td>
          <td>{{ data[2] }}</td>
          <td>{{ data[4] }}</td>
          <td>{{ data[5] }}</td>

        </tr> 
        </tbody>        
        {% endfor %}
      </table>
      <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Ref</th>
                <th scope="col">Name</th>
              </tr>
        </thead>
        <tbody>
            {% for ind_class in classes %}
            <tr>
                <th scope="row">{{ ind_class.class_ref }}</th>
                <td>{{ ind_class.class_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </tbody>
        
{% endblock %}
