{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<body>
    <h1>Classifications</h1>
    <div class="col-md-7">
    {{ wtf.quick_form(form2) }} 
    </div>
    <div class="col-md-7">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Ref</th>
                <th scope="col">Name</th>
              </tr>
        </thead>
        <tbody>
            {% for ind_class in classes %}
            <tr>
                <th scope="row">{{ ind_class.class_ref }}</th>
                <td>{{ ind_class.class_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>

 
</body>
{% endblock %}