{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}


<body>
    {% if space_info %}
    <h1>Space information: {{ space_info.room_number }} {{ space_info.room_name }}</h1>
    {% else %}
    <h1>Space information</h1>
    {% endif %}



    <div class='row'>
        <h3> </h3>
    </div>

    <div class="row">
        <div class="col-md-2">
            {{ wtf.quick_form(form3) }}
        </div>

        {% if space_info %}
        <div class="col-md-1"></div>
        <div class="col-md-8">

            <h3>Space information</h3>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col">Space number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Area</th>
                        <th scope="col">Perimeter</th>
                        <th scope="col">Class ref</th>
                        <th scope="col">Class name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ space_info.room_number }}</th>
                        <td>{{ space_info.room_name }}</td>
                        <td>{{ space_info.floor_area }}</td>
                        <td>{{ space_info.room_perimeter }}</td>
                        <td>{{ class_code.class_ref }}</td>
                        <td>{{ class_code.class_name }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        {% endif %}
    </div>



    <div class="row">
        <div class="col-md-2">
            {% if items %}{% if form4 %} {{ wtf.quick_form(form4) }} {% endif %} {% endif %}
        </div>

        {% if items %}
        <div class="col-md-1"></div>
        <div class="col-md-8">


            <table class="table table-sm table-striped">
                <tbody>
                    <td></td>
                    {% if new_items %}
                    <thead>
                        <tr>
                            <th scope="col">{{ object_info.object_name }} Asset information - {{ object_class_ref.class_name }} {{ object_class_ref.class_ref
                                }}
                            </th>
                        </tr>
                    </thead>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-2">
            {% if psets %}{% if form5 %} {{ wtf.quick_form(form5) }} {% endif %}{% endif %}
        </div>
        {% if properties %}
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <table class="table table-sm table-striped">
                
                <thead>
                    <tr>
                        <th scope="col">Properties </th>
                    </tr>
                </thead>
                <tbody>
                    {% for property in properties %}
                    <tr>
                        <td scope="row">{{ property.property_name }}</td>
                        <td>{{ property.property_value }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    {% endif %} 



</body>
{% endblock %}