
{% extends "base.html" %}

{% block app_content %}

<style>
th {text-align: left;}
</style>
<body>
   
    <h1>Space Areas</h1>

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type+'text/javascript'>
 google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawTitleSubtitle);

function drawTitleSubtitle() {
      var data = new google.visualization.DataTable();
      data.addColumn('timeofday', 'Location');
      data.addColumn('number', 'Area');
      data.addColumn('number', 'Volume');

      data.addRows([
        [{v: [8, 0, 0], f: '8 am'}, 1, .25],
        [{v: [9, 0, 0], f: '9 am'}, 2, .5],
        [{v: [10, 0, 0], f:'10 am'}, 3, 1],
        [{v: [11, 0, 0], f: '11 am'}, 4, 2.25],
        [{v: [12, 0, 0], f: '12 pm'}, 5, 2.25],
        [{v: [13, 0, 0], f: '1 pm'}, 6, 3],
        [{v: [14, 0, 0], f: '2 pm'}, 7, 4],
        [{v: [15, 0, 0], f: '3 pm'}, 8, 5.25],
        [{v: [16, 0, 0], f: '4 pm'}, 9, 7.5],
        [{v: [17, 0, 0], f: '5 pm'}, 10, 10],
      ]);

      var options = {
        chart: {
          title: 'Areas',
          subtitle: 'Comparison'
        },
        hAxis: {
          title: 'Area',
          format: 'None',
          viewWindow: {
            min: [7, 30, 0],
            max: [17, 30, 0]
          }
        },
        vAxis: {
          title: ')'
        }
      };

      var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
      materialChart.draw(data, {width: '500'});
    }
 </script>

  <div id="chart_div"></div>
    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Number');
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Classification');
        data.addColumn('number', 'Area');
        data.addColumn('number', 'Height');
        data.addColumn('number', 'Perimeter');
        data.addRows([
          {% for data in space_data.json %}
              ['{{ data[0] }}', '{{ data[1] }}', '{{ data[5] }}', {{ data[2] }}, {{ data[3] }}, {{ data[4] }}],
          {% endfor %}

        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: false, width: '80%', height: '60%'});
      }
    </script>
   <div id="table_div"></div>


 </tbody>
        
{% endblock %}
