
{% extends "base.html" %}

{% block app_content %}

<style>
th {text-align: left;}
</style>
<body>

 <h2>Wall Schedule</h2> 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Ref');
        data.addColumn('string', 'GUID');
        data.addColumn('number', 'Area');
        data.addColumn('number', 'Height');
        data.addColumn('number', 'Width');
        data.addRows([
          {% for data in wall_data.json %}
              ['{{ data[0] }}', '{{ data[1] }}', '{{ data[2] }}', {{ data[5] }}, {{ data[6] }}, {{ data[7] }}],
          {% endfor %}

        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {alternatingRowStyle: true, showRowNumber: false, width: '80%', height: '60%'});
      }
    </script>
   <div id="table_div"></div>
 
<h3>total area = {{ total_area }}</h3>

<form action="" method="post">
    <h2>Wall Detail</h2>
   <p>
        <label for="wall">
            <span>Door:</span>
        </label>
        <select id="wall" name="wallselection">
            {% for data in wall_data.json %}
                <option value="{{ data[0] }}">{{ data[0] }}</option>
            {% endfor %}    
        </select>
        <input type="submit" value="Submit"> 
    </p>



</form>
 
{{ message }}

 </tbody>
        
{% endblock %}
