/* desktop optimisations > 1920 */


/* Set general default fonts using low specificity */

h1 {
    font-size: 45pt;
}

.hero .parallax {
    top: -500px;
}

h2.large {
    font-size: 36pt;
}

p,
ul {
    font-size: 12pt;
}

div.three-steps .primary-btn {
    top: -22px;
}

div.three-steps .primary-btn,
div.twitter-feed .primary-btn {
    height: 40px;
    font-size: 14pt;
}
