/* desktop optimisations > 1330 */


/* Set general default fonts using low specificity */

h2.large {
    font-size: 32pt;
}

p,
ul {
    font-size: 11pt;
}

.navbar.navbar-default {
    background: transparent;
    box-shadow: none;
}

.navbar-brand {
    width: 250px;
    height: 45px;
}

.navbar .navbar-right li a {
    color: #fff;
    text-shadow: 1px 1px #555;
}

.navbar.navbar-default.visible .navbar-right li a {
    color: #3f3f3f;
    text-shadow: none;
}

.hero {
    height: 90vh;
}

.hero .parallax {
    background-position: top right;
    background-size: contain;
}

.hero.small {
    height: 60vh;
}

.contact .map-container>div {
    display: table-cell;
    vertical-align: middle;
}

.contact input[type=text],
.contact input[type=email],
.contact input[type=tel],
.contact textarea {
    width: 90%;
}

.content-container {
    padding-right: 8%;
    padding-left: 8%;
}

.text-column {
    padding-right: 10%;
}

.accordion i {
    height: 50px;
}

.accordion h3,
.revealing-panel h3 {
    height: 50px;
}

div.three-steps>h3 {
    font-size: 32pt;
}

div.three-steps>div.content img {
    height: 65px;
}

div.three-steps>div.content .summary {
    max-width: 70%;
    padding-left: 40px;
    font-size: 14pt;
}

div.three-steps>div.content p {
    font-size: 12pt;
    font-weight: 300;
}

div.three-steps:not(:last-child)>div.content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-bottom: 2px solid #a38d59;
    height: 50%;
    width: 100%;
}

div.three-steps .primary-btn {
    width: 60%;
}

div.cta_banner h2 {
    font-size: 38pt;
}

div.news-section {
    padding-top: 70px;
}

.article-summary,
.twitter-feed {
    height: 600px;
}

.tweet {
    font-size: 12pt;
}

.news-section div:last-child:not(.button-row) {
    margin: 0;
}

div.article-summary div.image-frame {
    min-height: 180px;
}

div.article-summary div.content,
div.twitter-feed div.tweet-container {
    padding: 10% 10% 0 10%;
}

div.twitter-feed h2 {
    padding: 15% 0 15% 50%;
    height: 120px;
}

.contact .content-container div.fadeInBlock:last-child {
    height: 100%;
    float: none;
}

.about .boxed,
.about .service-poster {
    padding: 0;
    margin-bottom: 80px;
}

.about .content-column {
    padding: 20px;
    padding-bottom: 0;
}

.about .service-poster:first-child {
    margin-right: 20px;
}

.about .service-poster:last-child {
    margin-left: 20px;
}


/******** LOGIN FORM STYLES *************/

.login .hero.fullscreen,
.register .hero.fullscreen {
    height: 80vh;
    background-position: bottom right;
    background-size: contain;
}

.login .content-container,
.register .content-container {
    margin-right: 15%;
    margin-left: 15%;
}

.login-features,
.login-container {
    padding: 50px;
}

.login-features li {
    font-size: 14pt;
}

.login-features li::before {
    height: 25px;
    width: 25px;
    top: 10px;
}


/* gallery section */

.gallery .image {
    width: 25%;
    height: 200px;
}

.gallery .text-overlay {
    display: table;
}

.project .image {
    width: 100%;
    background-position: center;
}

.project .brief {
    display: table-cell;
    padding-right: 5%;
}

div.strip.talk-to-us h2 {
    font-size: 30pt;
    width: 40%;
}

.extra-padding-top {
    padding-top: 10vh !important;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.three-ts div[class^=col-],
.news div[class^=col-],
.project div[class^=col-] {
    padding: 20px 30px 20px 0;
    padding-top: 0;
}

.project .gallery {
    width: 50%;
}
