/* Set general default fonts using low specificity */

* {
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

h1,
h2,
h3,
p,
ul,
.menu {
    /*font-family: 'Montserrat', sans-serif;*/
    color: #3f3f3f;
    letter-spacing: 1.1pt;
}

h1,
h2 {
    font-weight: 200;
    line-height: 120%;
    margin-top: 0;
}

h1 {
    font-size: 42pt;
}

img {
    max-width: 95vw;
    height: auto;
}

.hero-scroll-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 20%;
    transform: rotate(180deg);
    background-image: url(../graphix/Icons/mouse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero.small h1 {
    color: #fff;
}

h2 {
    font-size: 21pt;
    margin-bottom: 40px;
}

h2.large {
    font-size: 24pt;
}

.contact h2,
.login h2,
.register h2 {
    color: #a38d59;
}

.contact h3 {
    color: #a38d59;
    font-size: 14pt;
    font-weight: 400;
}

p,
ul {
    font-size: 10pt;
    line-height: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
}



.header {
    border-radius: 0;
    padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.header.navbar-default {
    font-weight: 300;
    background: #fff;
    box-shadow: 0px 2px 10px 0px #555;
    border: none;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

.header.navbar-default.visible {
    background: #fff;
    box-shadow: 0px 2px 10px 0px #555;
}

.header .container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
    transition-duration: 0.5s;
}

.header .container-fluid.small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-brand {
    background: url(../graphix/logo.png);
    background-repeat: no-repeat;
    transition-duration: 1.0s;
    transition-property: all;
    background-size: cover;
    width: 225px;
    height: 40px;
}

.header-brand.small {
    width: 195px;
    height: 35px;
    margin-top: 5px;
    background-size: cover;
}

.header .navbar-right li a {
    font-size: 12pt;
    color: #3f3f3f;
    text-shadow: none;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.navbar .navbar-right li a:hover,
.navbar .navbar-right li a:active {
    color: #a38d59;
    text-shadow: 1px 1px #816b37;
}

.navbar.navbar-default.visible .navbar-right li a:hover,
.navbar.navbar-default.visible .navbar-right li a:active {
    color: #a38d59;
}

.load-more {
    cursor: pointer;
}

.hero {
    margin-top: 0;
    padding-top: 30vh;
    height: 70vh;
    position: relative;
    border-bottom: 3px solid #ccc;
    overflow: hidden;
}

.hero .parallax {
    position: absolute;
    top: -50%;
    height: 110%;
    width: 100%;
    background-image: url(../graphix/hero-home-background.jpg);
    background-size: cover;
    background-position-x: 40px;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero.small {
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.hero.small div {
    position: absolute;
    bottom: 30px;
}


/* Add a dark dradient overlay */

.hero.small .gradient-overlay {
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}


/* Split this into different one per page */

.contact .hero.small {
    background-image: url(../graphix/contact-hero.jpg);
}

.faq .hero.small {
    background-image: url(../graphix/faq-hero.jpg);
}

.about .hero.small {
    background-image: url(../graphix/about-hero.jpg);
}

.project-overview .hero.small {
    background-image: url(../graphix/projects-hero.jpg);
}

.news .hero.small {
    background-image: url(../graphix/news-hero.jpg);
}

.contact .container:nth-child(odd) {
    background: #f7f7f7;
}

.contact .container .content-container>div:first-child {
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: auto;
}

.contact a,
.contact a:hover,
.contact a:visited,
.contact a:active {
    color: #3f3f3f;
}

.contact .content-container.map-container {
    display: table;
    width: 100%;
}

#map-container {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 100%;
}

.contact .content-container>div>iframe {
    width: 100%;
    height: 45vh;
}

.contact input[type=text],
.contact input[type=email],
.contact input[type=tel],
.contact textarea {
    border: 2px solid #a38d59;
    background: transparent;
    margin-bottom: 20px;
    font-size: 12pt;
    font-weight: 200;
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

.contact textarea {
    height: 150px;
}

.contact input[type=submit] {
    border-radius: 0;
    margin: 0;
    outline: none;
    background: transparent;
}

.contact div.wpcf7-validation-errors {
    border: none;
}

.primary-btn,
.primary-btn:link,
.primary-btn:active,
.primary-btn:hover,
.primary-btn:visited,
#loginform .button-primary {
    color: #a38d59;
    border: 2px solid #a38d59;
    display: inline-block;
    background: #fff;
    text-decoration: none;
    padding: 6px 20px;
    text-transform: uppercase;
    margin: 20px 10px 20px 0;
    font-size: 12pt;
    font-weight: 300;
}

div.top-bar {
    height: 35px;
    width: 100%;
    background-color: #a38d59;
    box-shadow: 0px 2px 10px 0px #555;
    text-align: right;
}

div.menu {
    color: #fff;
    font-weight: 300;
}

.options.menu {
    font-size: 10pt;
    line-height: 35px;
    margin-right: 8%;
}

div.options.menu a:link,
div.options.menu a:visited,
div.options.menu a:active {
    color: #fff;
}

.nav.menu {
    font-size: 15pt;
    margin-right: 8%;
}

.container {
    padding: 0;
    margin: 0;
    width: auto;
}

.content-container {
    padding-left: 13px;
    padding-right: 13px;
}

.accordion-container {
    position: relative;
}

.accordion {
    position: absolute;
    width: 100%;
}

.accordion .ui-accordion-header,
.revealing-panel h3 {
    outline: none;
    cursor: pointer;
}

.accordion p,
.accordion ul,
.revealing-panel p {
    margin-bottom: 10px;
}

.accordion i {
    position: absolute;
    display: block;
    content: "";
    border: 1px solid #a38d59;
    width: 70px;
    height: 45px;
    top: -1px;
    left: -1px;
    background-position: center;
    background-size: 60% 70%;
    background-repeat: no-repeat;
}

.accordion i.bim-question {
    background-image: url(../graphix/Icons/faq.svg);
}

.accordion i.bim-rocket {
    background-image: url(../graphix/Icons/rocket.svg);
}

.accordion i.bim-specs {
    background-image: url(../graphix/Icons/glasses.svg);
}

.accordion i.bim-people {
    background-image: url(../graphix/Icons/users.svg);
}

.accordion h3,
.revealing-panel h3 {
    position: relative;
    border: 1px solid #a38d59;
    width: 100%;
    height: 45px;
    background: #fff;
    padding: 14px 20px 14px 95px;
    font-size: 12pt;
    margin: 0;
    margin-top: 20px;
    transition-duration: 0.5s;
}

.accordion h3:hover,
.accordion h3.ui-state-active,
.revealing-panel h3:hover,
.revealing-panel h3.active {
    color: #a38d59;
}

.accordion h3 img,
.revealing-panel h3 img {
    height: 15px;
    width: auto;
    float: right;
    transition-duration: 0.5s;
}

.accordion h3.ui-state-active img,
.revealing-panel h3.active img {
    transform: rotate(180deg);
}

.accordion div,
.revealing-panel div {
    margin-top: -1px;
    margin-bottom: 20px;
    border: 1px solid #a38d59;
    padding: 20px 15px 10px 15px;
    background: #fff;
}

div.city-splitter {
    position: relative;
    overflow: hidden;
    /*top: 100px;*/
    height: 70vh;
    z-index: -1;
}

div.city-splitter .gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(246, 243, 238, 0) 60%, rgba(246, 243, 238, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246, 243, 238, 0) 60%, rgba(246, 243, 238, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246, 243, 238, 0) 60%, rgba(246, 243, 238, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00f6f3ee', endColorstr='#fff6f3ee', GradientType=0);
    /* IE6-9 */
}

div.city-splitter .parallax {
    position: absolute;
    content: "";
    top: 10%;
    height: 100%;
    width: 100%;
    background-image: url(../graphix/cityscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: -1;
}

div.three-container {
    background-color: rgb(246, 243, 238);
    padding-bottom: 100px;
}

div.three-steps>h3 {
    color: #a38d59;
    font-size: 26pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 0.7;
}

div.three-steps>div.content {
    position: relative;
    border: 2px solid #a38d59;
    color: #595959;
    margin-top: 0;
    padding: 10% 5%;
    background: #fff;
}

div.three-steps>div.content img {
    vertical-align: text-bottom;
    width: auto;
    height: 35px;
}

div.three-steps>div.content .summary {
    display: inline-block;
    max-width: 80%;
    padding-left: 30px;
    font-size: 11pt;
    font-weight: 300;
}

div.three-steps>div.content .hr {
    width: 10%;
    border-bottom: 2px solid #a38d59;
    margin: 30px 2px;
}

div.three-steps .primary-btn,
div.twitter-feed .primary-btn {
    height: 35px;
    display: inline-block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 5px;
    margin: 0 auto;
    background-color: #a38d59;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12pt;
    text-decoration: none;
}

div.three-steps .primary-btn {
    top: -18px;
    width: 90%;
}

div.three-steps .primary-btn:hover,
div.talk-to-us .primary-btn:hover {
    color: #a38d59;
}

div.three-steps .hvr-fade:hover,
div.talk-to-us .hvr-fade:hover {
    background: #fff;
}

div.cta_banner {
    text-align: center;
    padding: 50px 0;
}

div.cta_banner h2 {
    font-size: 24pt;
    margin-bottom: 20px;
}

div.training.cta_banner {
    background: url(../graphix/training_back.png);
    background-position: 50% 60%;
    background-size: cover;
}

div.training.cta_banner h2 {
    color: #fff;
}

div.cta_banner .primary-btn,
.faq .primary-btn {
    width: 200px;
    color: #fff;
    border-color: #fff;
    background: none;
}

.cta_banner .primary-btn:hover,
.strip.three-ts .primary-btn:hover,
.faq .primary-btn:hover {
    color: #a38d59;
    background: #fff;
}

.news-section {
    padding-top: 30px;
}

.news-section div:last-child:not(.rect5) {
    margin: 20px 0;
}

div.article-summary {
    margin-bottom: 20px;
    min-height: 400px;
}

a.blog-link,
a.blog-link:visited,
a.blog-link:hover,
a.blog-link:active {
    text-decoration: none;
}

div.article-summary,
div.twitter-feed {
    border: 2px solid #a38d59;
    font-weight: 300;
    transition-duration: 0.4s;
    transition-property: box-shadow;
}

div.twitter-feed {
    position: relative;
}

div.article-summary:hover {
    box-shadow: 5px 5px 10px #ccc;
}

div.article-summary div.image-frame {
    width: 100%;
    min-height: 120px;
    background-size: cover;
    background-position: center;
}

div.article-summary div.title {
    padding: 15px;
    height: 80px;
    background: #a38d59;
    color: #fff;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 300;
}

div.article-summary div.content,
div.twitter-feed div.tweet-container {
    letter-spacing: 0;
    padding: 0 10%;
}

div.article-summary div.content {
    padding-top: 5%;
}

div.article-summary div.content p {
    font-size: 12pt;
}

div.article-summary div.read-more {
    position: absolute;
    bottom: 20px;
    padding-left: 10%;
    color: #a38d59;
}

div.twitter-feed h2 {
    padding: 10% 0 10% 50%;
    margin: 0 1px;
    margin-bottom: 20px;
    font-size: 14pt;
    width: 100%;
    height: 80px;
    display: inline-block;
    background-image: url(../graphix/Icons/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -20px;
    background-position-y: -3px;
}

div.twitter-feed .button-bar {
    padding-left: 10%;
    padding-right: 10%;
}

div.twitter-feed .button-bar .primary-btn {
    width: 48%;
    line-height: 35px;
    padding: 0;
}

div.twitter-feed .button-bar .primary-btn:first-child {
    float: left;
}

div.twitter-feed .button-bar .primary-btn:last-child {
    float: right;
}

.tweet .header a {
    color: #a38d59;
}

div.twitter-feed hr {
    border-color: #a38d59;
    border-width: 2px;
}

.contact .contact-block p {
    margin-bottom: 0;
}

.contact .content-container div.fadeInBlock:last-child {
    height: 50vh;
    /*float: none;*/
    padding: 20px 0;
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    display: block;
    height: 100%;
    width: 100%;
}

.about .boxed,
.about .service-poster {
    border: 2px solid #a38d59;
    padding: 20px;
    margin-bottom: 40px;
}

.about .service-poster {
    padding: 0;
}

.about .content-column {
    font-weight: 300;
    margin-bottom: 50px;
}

.about .service-poster div.featured-image {
    content: "";
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about .service-poster div.featured-image.training {
    background-image: url(../graphix/training-featured.jpg);
}

.about .service-poster div.featured-image.consultancy {
    background-image: url(../graphix/consultancy-featured.jpg);
}

.about .service-poster h2 {
    width: 100%;
    margin: 0;
    background: #a38d59;
    color: #fff;
    padding: 20px;
}

.about .service-poster .content {
    padding: 20px;
    font-weight: 200;
}

.about .service-poster .content p:last-child {
    margin-bottom: 0;
}


/******** LOGIN FORM STYLES *************/

.login .hero.fullscreen,
.register .hero.fullscreen {
    height: auto;
    background-color: #F2F2F0;
    background-image: url(../graphix/login-background.jpg);
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 22vh;
    padding-bottom: 10vh;
}

.login .white-overlay,
.register .white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
}

.login .content-container,
.register .content-container {
    margin: 0 auto;
}

.login h2,
.register h2 {
    margin-bottom: 0px;
}

.login-features h2 {
    color: #595959;
}

.login-features {
    padding: 0px;
}

.login-container {
    padding: 10px;
}

.register .login-container {
    padding-bottom: 0;
}

.login-features {
    color: #a38d59;
    font-weight: 600;
}

.login-features ul {
    list-style: none;
    padding-left: 0;
}

.login-features li {
    margin-left: 5px;
    font-size: 11pt;
}

.login-features li::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../graphix/Icons/check-box.svg);
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.login-container {
    background: #fff;
    border: 2px solid #a38d59;
    margin-top: 20px;
}

.login-submit {
    margin-top: 15px;
}

#loginform * {
    outline: none;
    margin-bottom: 0;
}

#loginform input[type=submit] {
    margin-left: 0;
}

.login-container input[type=text],
.login-container input[type=email],
.login-container input[type=password] {
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #a38d59;
    font-weight: 200;
    margin-top: 1rem;
}

.frm_style_default-style.with_frm_style img {
    display: none;
}


/******** FAQ STYLES *************/

.faq .nav-tabs {
    background-color: #a38d59;
    position: relative;
    top: -4px;
    padding: 10px 0;
}

.faq .primary-btn {
    border-radius: 0;
    text-align: center;
    width: 150px;
}

.faq .category h2 {
    margin-bottom: 0;
}

.faq .category:nth-child(even) {
    background: #f7f7f7;
}

.faq .revealing-panel h3 {
    padding-left: 20px;
    height: auto;
}

.faq .revealing-panel h3 span {
    display: inline-block;
    width: 90%;
}

.faq .revealing-panel div.content {
    font-weight: 300;
    padding-bottom: 20px;
}

.faq .revealing-panel * {
    background: #fff;
}

.faq .category .content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}


/******** PROJECT OVERVIEW STYLES **********/

.project-overview .container .content-container {
    overflow: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.project-overview .padded-column {
    padding-right: 10%;
}


/* gallery section */

.gallery {
    overflow: hidden;
}

.gallery .image {
    position: relative;
    width: 50%;
    margin: 0;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery .text-overlay {
    display: none;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5% 10%;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
}

.gallery .text-overlay:hover {
    opacity: 1;
}

.gallery .text-overlay h3,
.gallery .text-overlay p {
    color: #fff;
    font-size: 14pt;
}

.gallery .text-overlay .subtitle {
    font-weight: 200;
    font-size: 10pt;
}

.gallery .text-overlay hr {
    width: 20%;
}

.project-overview .gallery+ div {
    padding: 20px 10vw;
}


/******** PROJECT DETAIL STYLES *************/

.project .hero.small,
.news-post .hero.small {
    border-bottom: none;
}

.project .hero.small div {
    bottom: 0px
}

.project .hero .subtitle {
    color: #fff;
    font-weight: 200;
}

.post-nav {
    padding: 10px 0;
    background: #a38d59;
    overflow: auto;
}

.post-nav,
.post-nav a:link,
.post-nav a:visited,
.post-nav a:active {
    color: #fff;
    font-weight: 200;
    text-decoration: none;
}

.post-nav img {
    height: 20px;
}

.post-nav .long-link {
    display: none;
}

.project .content-container>div {
    display: table;
}

.project .content-container>div .re-order-top {
    display: table-header-group;
}

.project .content-container>div .re-order-bottom {
    display: table-footer-group;
}

.project .image {
    height: 50vh;
    width: 100vw;
    margin: 0 -13px;
    background-size: cover;
    background-position: center;
}

.project .gallery {
    width: 100vw;
    margin: 0 -13px;
}

.project .gallery .image {
    width: 50%;
    height: 25vh;
    margin: 0;
}

.project .strip {
    margin-top: 0;
    margin-bottom: 0;
}

.project .table-row.spacer {
    height: 60px;
}


/******** FOOTER STYLES *************/

.footer-group {
    width: 100%;
    background-color: #a38d59;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.footer-group * {
    color: #fff;
    font-size: 10pt;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.footer-group h2 {
    font-size: 14pt;
    margin-bottom: 20px;
}

.footer-group ul.site-map {
    list-style: none;
    padding-left: 0;
}

.site-map a {
    transition-duration: 0.4s;
    text-decoration: none;
}

.footer-group li {
    font-size: 10pt;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.footer-group ul.site-map li::before {
    content: "> ";
}

.contact-details img {
    width: 25px;
    height: auto;
}

.contact-details td {
    vertical-align: top;
    padding-bottom: 10px;
}

.contact-details td:nth-child(2) {
    padding-left: 10px;
    vertical-align: middle;
}

.footer-group input {
    font-size: 12pt;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    padding: 5px 20px;
}

.footer-group::-webkit-input-placeholder,
.footer-group::placeholder {
    color: rgba(240, 240, 240, 0.7);
}

.footer-group .primary-btn {
    border-color: #fff;
    color: #fff;
    font-size: 10pt;
    margin: 10px 0;
    font-weight: 200;
    padding: 5px 20px;
    background: none;
}

.footer-group .primary-btn:hover {
    background: #fff;
    color: #a38d59;
}

.footer-info {
    padding: 30px 0;
}

.main-footer .footer-info p {
    color: #595959;
    font-size: 8pt;
    font-weight: 200;
    padding: 0;
    margin: 0;
    text-align: center;
}


/********** Page Template ***********/

.page-template-default .header-spacer {
    height: 150px;
}


/********** STRIP STYLES ***********/

div.strip {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 0;
    padding: 80px 0;
}

div.strip.three-ts {
    background-image: url(../graphix/ttt-strip-back.png);
    padding-top: 50px;
    padding-bottom: 50px;
}

div.strip.three-ts .img-container {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

div.strip.three-ts img {
    width: auto;
    height: 100%;
}

.strip.three-ts h2 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.strip.three-ts .primary-btn,
.strip.talk-to-us .primary-btn {
    border-color: #fff;
    color: #fff;
    background: none;
    width: 220px;
    max-width: 250px;
    margin-bottom: 20px;
}

.strip.talk-to-us {
    background-image: url(../graphix/lobostudio-strip.jpg);
}

.strip.talk-to-us h2 {
    color: #fff;
    font-size: 26pt;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.1em;
}

.strip.talk-to-us .primary-btn {
    display: block;
    text-align: center;
    width: 150px;
    margin: 20px auto 0 auto;
}


/* modifiers */

.center-aligned {
    text-align: center;
    margin: 0 auto;
}

.vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
}

strong {
    font-weight: inherit;
    color: #a38d59;
}

.extra-padding-top {
    padding-top: 5vh !important;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.full-width {
    width: 100%;
}
