/*
Theme Name: BIMsense
Author: Tim Mutlow (Jar Half Full Ltd.)
Author URI: https://www.jarhalffull.co.uk
Version: 1.0
*/


/* Imports for various views etc */

@import "./css/bimsense-base.css";


/*@import "./css/bimsense-mobile.css" screen and (min-width:321px);*/

@import "./css/bimsense-tablet.css" screen and (min-width: 768px);
@import "./css/bimsense-desktop.css" screen and (min-width: 1330px);
@import "./css/bimsense-hd.css" screen and (min-width: 1920px);

